*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

/* Left section */
.sidebar{
    
    width: 300px;
    height: 100vh;
    padding-left: px;
    
}

.left-sidebar{
    position: fixed;
    padding-left: 25px;
}

.logo{
    width: 50px;
    height: 50px;
    padding-left: 12px;
    margin-top: 5px;
    border-radius: 10px;
}

.page-explore{
    display: flex;
    padding: 12px 12px 12px 12px;
    font-size: 1.2rem;
    gap: 15px;
    cursor: pointer;
}

.sidebar-items .page-explore{
    width: 200px;
}

.sidebar-items :hover{
    background: lightgrey;
    
    border-radius: 25px;

}

.left-btn{
    padding-top: 35px;
   
}
.left-post-btn{
    width: 15vw;
    height: 8vh;
    border-radius: 25px;
    border: none;
    background: black;
    color: white;
    font-size: 1rem;
    
}

.account{
    padding-top: 35px;
   

}

.user{
    display: flex;
    width: 20vw;
    height: 9vh;
    padding-left: 12px;
    padding-top: 12px;
    border-radius: 30px;
    
}

.account-pic{
    padding-right: 11px;
}

.user-info{
    padding-right: 90px;
}

.acc-actions{
    padding-top: 10px;
}

/* main content */

.main-content{
    display: flex;

    justify-content: space-between;
    flex: 1;
    
}

.remaining{
    display: flex;
    gap: 30px;
    margin-left: px;


}

/* middle section */
.middle-nav{
    display: flex;
   
}

.middle-items{
    border: 1px solid rgb(185, 202, 211);
    width: 570px;
   
}

.content-classification{
    display:flex;
    position: fixed;
    background-color: white;
    opacity: 98%;
    justify-content: center;
    border-bottom: 1px solid rgb(185, 202, 211);
    align-items: center;
    gap: 20px;
    height: 8vh;
    font-size: 1rem;
}

.content-classification .for-user:hover{
    background: lightgrey;
}

.content-classification .for-user{
    height: 8vh;
    width: 281.5px;
    padding-left: 90px;
    padding-top: 10px;
    cursor: pointer;

}

.content-classification .followed{
    width: 266.5px;
    padding-top: 10px;
    padding-left: 90px;
    height: 8vh;
    cursor: pointer;
    color: grey;
}

.content-classification .followed:hover{
    background: lightgrey;
    
}



.posts {
    margin-top: 65px;
}
.post-site{
    border-bottom: 1px solid rgb(185, 202, 211);
    height: 13vh;
}

.posting{
    display: flex;
    margin-top: 7px;
    margin-left: 9px;
}

.post-site{
    padding-bottom: 10px;
}
.post-site input{
    font-size: 1rem;
    border: none;
    padding-left: 9px;
}

.post-site .post-icons{
    color: rgb(185, 202, 211);
    padding-left: 22px;
    padding-top: 25px;
    
}


.post-icons span{
    padding-left: 12px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.post-icons span:hover{
    background: gainsboro;
    border-radius: 12px;
    
}

.post-footer{
    display: flex;
    padding-top: px;
}

.post-btn{
    padding-top: 28px;
    padding-left: 68px;
}

.posting-btn{
    margin-left: 100px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 15px;
    width: 5vw;
    height: 4.5vh;
    
}



.more-posts{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    border-bottom: 1px solid rgb(185, 202, 211);
    height: 8vh;
    color: blue;
    cursor: pointer;
     
}

.post-collapse{
    width: 568.188px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    height: 8vh;
}



.more-posts :hover{
    
    background: whiteSmoke;
}

.timeline-post{
    cursor: pointer;
}
.timeline-post :hover{
    background: whiteSmoke;
}

.tweeter-details{
    display: flex;
    margin-top: px; 
    
}


.acc-pro-icon img{
    height: 8vh;
    width: 4vw;
    border-radius: 25px;
    margin-left: 5px;
    padding-right: 5px;
}

.user-acc-img{
    width: 44px;
    height: 44px;
}

.profile-nav{
    display: flex;
    margin-left: 15px;
}
.profile-nav span{
    font-size: 1rem;
}

.acc-details{
    display: flex;
    
}

.acc-details .user-name{
    color: rgb(185, 202, 211);
}

.acc-details .tweet-date{
    color: rgb(185, 202, 211);
}



.acc-details > .material-symbols-outlined{
    color: blue;
    font-size: 1rem;
    
}

.content {
    display: flex;
    justify-content: center;
}

.content-icon{
    display: flex;
}


.tweet{
    margin-top: -20px;
}

.tweet .post-caption {
    margin-left: 60px;
}

.tweet > video{
    margin-bottom: 15px;
}


.footer-icons{
    display: flex;
}

.tweet-footer{
    display: flex;
    justify-content: space-between;
    color: rgb(185, 202, 211);
    border-bottom: 1px solid rgb(185, 202, 211);;

}

.tweet-footer :nth-child(1) {
    margin-left: 3px;

}

.footer-text{
    padding-top: 2px;
    padding-left: 2px;
}

/* right section */

.right-nav{
    width: 380px;
    
}

.right-nav-items{
    width: 28vw;
   
}

.searchbar{
    display: flex;
    background-color: white;
    border: 1px solid rgb(185, 202, 211);
    border-radius: 20px;
    position: fixed;
    width: 28vw;
    margin-top: 5px;
    height: 6vh;

}
.searchbar > input{
    border: none;
    padding-left: 10px;
    font-size: 1rem; 
}

.content-search span{
    padding-top: 6px;

}

.right-content{
    
    border-radius: 10px;
    border: 1px solid rgb(185, 202, 211);
    margin-top: 42px;
}

.subscription {
    padding-top: 20px;
    padding-left: 12px;
    width: 340px;
    
}

.subscribe-btn{
    width: 7vw;
    height: 7vh;
    background-color: rgb(32, 154, 224);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.current-news{
    border-radius: 10px;
    
    
    border: 1px solid rgb(185, 202, 211);
}

.news-nav{
    display: flex;
    gap: 230px;
    padding-left: 10px;
   
}

.news-nav span{
    cursor: pointer;
}

.news-nav span:hover{
    background: gainsboro;
    border-radius: 12px;
}

.news-caption {
    width: px;
    padding-left:10px ;
    cursor: pointer;
}

.news-caption:hover{
    background: whiteSmoke;
    border-radius: 12px;
}

.news-footer {
    display: flex;
    margin-top: 8px;

}

.news-icons img{
    height: 3vh;
    width: 2vw;
    border-radius: 12px;
    
}

.news-icons :nth-child(2){
    margin-left: -15px;
}

.news-icons :nth-child(3){
    margin-left: -20px;
}

.news-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 5px;
    
}

.footer-news-details{
    color: #536471;
    
}


.trending-content{
    border-radius: 10px;
    border: 1px solid rgb(185, 202, 211);
}


.trending-info{
    padding-left: 8px;
    display: flex;
    gap: 180px;
    color: #536471;
    
}

.trending-content h3{
    padding-left: 8px;
    padding-bottom:8px;
}


.trending-tweets{
    height: 54px;
    cursor: pointer;
}

.more-tweets{
    display: flex;
    padding-top: 16px;
    padding-left: 8px;
    color: rgb(0, 162, 255);
}

.trending-tag{
    padding-bottom: 8px;
}

.trending-tweets:hover{
    background: whiteSmoke;
    border-radius: 10px;
}


.follow{
    border-radius: 10px;
    
    border: 1px solid rgb(185, 202, 211);
}

.follow h3{
    padding-left: 8px;
}

.follow-account{
    padding-left: 8px;
    padding-top: 8px;
    margin-top: 5px;
    display: flex;
    gap: 5px;
    height: 12vh;
    cursor: pointer;
}

.follow :nth-child(4) span{
    color: blue; 
    background: none;
}

.follow-account:hover{
    border-radius: 10px;
    background: whiteSmoke;
}


.suggestion-prf-icon {
    border-radius: 28px;
}


.suggestion-prf-icon img{
    border-radius: 47%;
    height: 8vh;
    width: 4vw;
}

.suggested-acc{
    padding-right: 85px;
}

.suggested-acc .material-symbols-outlined{
    font-size: 15px;
    color: white;
    background-color: rgb(179, 179, 22);
    border: none;
}

.follow-acc-btn{
    color: white;
    background: black;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    cursor: pointer; 
}

.follow-account .more-accounts{
    color: rgb(0, 162, 255);
    padding-top: 10px;

}
.right-nav-footer ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
    gap: 5px;
    color: #536471;
}

a:link{
    color: #536471;
    text-decoration: none;
}

a:visited{
    color: #536471;

}

.right-nav a:hover{
    text-decoration: underline;

}