*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

/* Left section */
.left-sidebar{
    justify-content: center;
    display: flex;
    width: 362.500px;
    height: 100vh;
    
}

.sidebar-items{
    border-right: 1px solid rgb(185, 202, 211);
}

.logo{
    width: 50px;
    height: 50px;
    padding-left: 12px;
    margin-top: 5px;
}

.page-explore{
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 12px;
    font-size: 1.2rem;
    gap: 15px;
}



.sidebar-items{
    
    height: 624.500px;
    width: 259px;
}

.left-btn{
    padding-top: 35px;
   
}
.left-post-btn{
    width: 15vw;
    height: 8vh;
    border-radius: 25px;
    border: none;
    background: black;
    color: white;
    font-size: 1rem;
    
}

.account{
    padding-top: 35px;
   

}

.user{
    display: flex;
    width: 20vw;
    height: 9vh;
    padding-left: 12px;
    padding-top: 12px;
    border-radius: 30px;
    
}

.account-pic{
    padding-right: 11px;
}

.user-info{
    padding-right: 90px;
}

.acc-actions{
    padding-top: 10px;
}

/* main content */

.main-content{
    display: flex;

    justify-content: space-between;
    flex: 1;
    height: 100vh;
}

.remaining{
    display: flex;


}

/* middle section */
.middle-nav{
    display: flex;
    width: 598px;
    height: 100vh;
    margin-top: 5px;
   
}

.middle-items{
    border: 1px solid rgb(185, 202, 211);
    width: 520px;
}

.content-classification{
    font-size: 1.5rem;
}

.post-site{
    border: 1px solid rgb(185, 202, 211);
    height: 12vh;
}

.posting{
    display: flex;
    margin-top: 7px;
    margin-left: 9px;
}

.post-site{
    padding-bottom: 10px;
}
.post-site input{
    font-size: 1rem;
    border: none;
    padding-left: 9px;
}

.post-site .post-icons{
    color: rgb(185, 202, 211);
    padding-top: px;
}

.post-icons{
    padding-left: 22px;
}

.post-icons span{
    padding-left: 10px;
}

.post-footer{
    display: flex;
    padding-top: 15px;
}

.posting-btn{
    margin-left: 100px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 15px;
    width: 5vw;
    height: 4.5vh;
    
}

.content-classification{
    display:flex;
    gap: 250px;
    height: 5vh;
    padding-top: 5px;
    padding-left: 5px;
}

.post-collapse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    border: 1px solid rgb(185, 202, 211);
    height: 10vh;
    color: blue;
}

.tweeter-details{
    display: flex;
    margin-top: 5px; 


}

.acc-pro-icon img{
    height: 8vh;
    width: 4vw;
    border-radius: 25px;
    margin-left: 5px;
    padding-right: 5px;
}

.user-acc-img{
    width: 44px;
    height: 44px;
}

.profile-nav{
    display: flex;
    margin-left: 15px;
}

.acc-details{
    display: flex;
    
}

.acc-details .user-name{
    color: rgb(185, 202, 211);
}

.acc-details .tweet-date{
    color: rgb(185, 202, 211);
}

.profile-nav span{
    font-size: 1rem;
}

.acc-details > .material-symbols-outlined{
    color: blue;
    font-size: 1rem;
    
}

.content-icon{
    display: flex;
}

.tweet > .post-caption{
    
}

.tweet{
    margin-left: 60px;
    margin-top: -20px;
}

.tweet > video{
    margin-bottom: 15px;
}


.footer-icons{
    display: flex;
}

.tweet-footer{
    display: flex;
    justify-content: space-between;
    color: rgb(185, 202, 211);

}

.tweet-footer :nth-child(1) {
    margin-left: 3px;

}

.footer-text{
    padding-top: 2px;
    padding-left: 2px;
}

/* right section */

.right-nav{
    width: 380px;
    
}

.right-nav-items{
    width: 28vw;
   
}

.searchbar{
    display: flex;
    border: 1px solid rgb(185, 202, 211);
    border-radius: 10px;
    width: 28vw;
    margin-top: 5px;
    height: 6vh;

}
.searchbar > input{
    border: none;
    padding-left: 10px;
    font-size: 1rem; 
}

.content-search span{
    padding-top: 6px;

}

.subscription {
    border: 1px solid rgb(185, 202, 211);
}

.current-news{
    border: 1px solid rgb(185, 202, 211);
}

.follow{
    display: flex;
    border: 1px solid rgb(185, 202, 211);
}

.follow-accnt{
    display: flex;
}

.trending-content{
    border: 1px solid rgb(185, 202, 211);
}